
<div class="move-card {{name}}">
    <div class="move-info item-name" data-item-id="{{_id}}">
        
        <a class="move-roll" title="Kliknij by wykonać akcję"> {{name}} </a>
       <div class="menu-hide"><a class="item-control item-show" style="float: right;"><i class="far fa-comment-alt"></i></a><a class="item-control item-delete" title="Usuń" style="float: right;"><i class="fas fa-trash"></i></a><a class="item-control item-edit" title="Edytuj" style="float: right;"><i class="fas fa-edit"></i></a></div>
                    
            
    </div>
</div>
